/* LOGIN PAGE */

.login-body{
background: linear-gradient(135deg,#141e30,#243b55);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Segoe UI;
}

.login-container{
background:white;
padding:40px;
width:350px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
text-align:center;
}

.login-container h2{
margin-bottom:5px;
}

.subtitle{
color:gray;
margin-bottom:20px;
}

.login-container input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ddd;
border-radius:5px;
}

.login-container button{
width:100%;
background:#ff4b2b;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
font-size:16px;
}

.login-container button:hover{
background:#e63946;
}

.register-link{
margin-top:15px;
font-size:14px;
}

.register-link a{
color:#ff4b2b;
text-decoration:none;
}